header {
    text-align: center;
    background-color: #FFF159;
    color: #242424;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding: 1rem;
}

h1{
    margin-bottom: 1rem;
}
